__pycache__
Core/Core_wrap.cpp
Core/Core_wrap.h
GLUtils/GLUtils_wrap.cpp
GLUtils/GLUtils_wrap.h
MathLib/MathLib_wrap.cpp
MathLib/MathLib_wrap.h
Physics/Physics_wrap.cpp
Physics/Physics_wrap.h
Utils/Utils_wrap.cpp
Utils/Utils_wrap.h
bin/*
lib/*
obj/
screenShots/*
tmp/*
*.layout
*.a
*.o
*.exe
.pyc
.so
*~
*.swp

